{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block css %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/dashboard.css') }}">


<link rel="stylesheet"
href="{{ url_for('static', filename='css/admin_change_password.css') }}">

{% endblock %}
{% block content %}

<div class="change-password-wrapper">

    <div class="password-card">

        <div class="password-header">

            <h2>Change Password</h2>

            <p>   Update your account password securely.</p>

        </div>
        
        <form id="changePasswordForm">
            <div class="password-group">

                <label>  Current Password</label>

                <input type="password"id="currentPassword"placeholder="Enter current password"required>

            </div>

            <div class="password-group">

                <label> New Password</label>

                <input type="password" id="newPassword"placeholder="Enter new password"required>

            </div>

            <div class="password-group">

                <label> Confirm New Password</label>

                <input  type="password" id="confirmPassword" placeholder="Confirm new password" required>
            </div>

            <div class="password-buttons">

                <button type="submit" class="save-password-btn">

                    Update Password

                </button>

                <a href="/admin/profile-page" class="cancel-password-btn">

                    Cancel

                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/admin_change_password.js') }}"></script>

{% endblock %}