{% extends "base_1.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<div class="page-header">

    <h2>Change Password</h2>

    <p>Dashboard > Change Password</p>

</div>

<div class="card-box">

<form id="changePasswordForm">

    <div class="mb-3">

        <label>Current Password</label>

        <input  type="password" id="Current_Password" class="form-control">

    </div>

    <div class="mb-3">

        <label>New Password</label>

        <input type="password" id="New_Password" class="form-control">

    </div>

    <div class="mb-4">

        <label>Confirm Password</label>

        <input type="password" id="Confirm_Password" class="form-control">

    </div>

    <button class="btn btn-primary" type="submit">

        Change Password

    </button>

</form>

</div>

<script src="/static/js/change_password.js"></script>
<script src="/static/js/topbar.js"></script>

{% endblock %}